body {
    background: url("../resources/images/background.png");
    text-align: center;
    margin-top: 10%;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40pt;
}

#username {
    text-align: center;
    font-size: 30pt;
    font-family: sans-serif;
}

#b1 {
    font-size: 30pt;
    font-family: Impact, Charcoal, sans-serif;
}